.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@include vp-1023 {
  .container {
    max-width: 960px;
    padding: 0 18px;
  }
}

@include vp-767 {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}
