.questions {
  padding: 0 0 78px;

  &__wrapper {
    position: relative;
    padding: 70px 0 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.8px;
    max-width: 800px;
    margin: 0 0 40px 0;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 70px;
    width: 253px;
    height: 319px;
  }

  &__text {
    max-width: 733px;
    margin: 0 0 40px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 290px;
    gap: 40px;
    align-items: start;
    margin: 0 0 40px 0;
  }

  &__btn {
    margin-top: 27px;
  }
}

@include vp-767 {
  .questions {
    &__wrapper {
      padding: 40px 0 0;
    }

    &__title {
      font-size: 24px;
      line-height: 31.2px;
      margin: 0 0 20px 0;
    }

    &__img {
      position: static;
      width: 100%;
      height: auto;
      max-width: 253px;
      margin: 0 auto 20px;
      display: block;
    }

    &__text {
      font-size: 16px;
      line-height: 22.4px;
      margin: 0 0 20px 0;
    }

    &__inner {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__btn {
      margin-top: 0;
      width: 100%;
    }
  }
}
